* {
  font-family: 'Google Sans', sans-serif;
   font-size: 16px;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   border-style: none;
   border: none;
 }
 body{
   width: 100%;
   font-style: normal;
   color: #51545C;
   background-color: #fff;
 }
 a {
   text-decoration: none;
 }
 
 ul {
   list-style: none;
 }
 
 i,
 a,
 button {
   cursor: pointer;
 }
 @font-face {
   font-family: "DM Sans Bold";
   src: url("../fonts/DMSans-Bold.ttf"); 
   src: url("../fonts/DMSans-Bold.ttf") format("embedded-opentype"),
   url("../fonts/DMSans-Bold.ttf") format("truetype");
   font-weight: 700;
 }
 
 @font-face {
   font-family: "DM Sans Regular";
   src: url("../fonts/DMSans-Regular.ttf"); 
   src: url("../fonts/DMSans-Regular.ttf") format("embedded-opentype"),
   url("../fonts/DMSans-Regular.ttf") format("truetype");
   font-weight: 400;
 }
 @font-face {
    font-family: "HankenSans Regular";
    src: url("../fonts/HankenSans-Regular.otf");
    src: url("../fonts/HankenSans-Regular.otf") format("embedded-opentype"),
      url("../fonts/HankenSans-Regular.otf") format("truetype");
  }
  
  @font-face {
    font-family: "HankenSans Black";
    src: url("../fonts/HankenSans-Black.otf");
    src: url("../fonts/HankenSans-Black.otf") format("embedded-opentype"),
      url("../fonts/HankenSans-Black.otf") format("truetype");
  }
  @font-face {
    font-family: "HankenSans Bold";
    src: url("../fonts/HankenSans-Bold.otf");
    src: url("../fonts/HankenSans-Bold.otf") format("embedded-opentype"),
      url("../fonts/HankenSans-Bold.otf") format("truetype");
  }
  @font-face {
    font-family: "HankenSans Italic";
    src: url("../fonts/HankenSans-Italic.otf");
    src: url("../fonts/HankenSans-Italic.otf") format("embedded-opentype"),
      url("../fonts/HankenSans-Italic.otf") format("truetype");
  }
  @font-face {
    font-family: "HankenSans Light";
    src: url("../fonts/HankenSans-Light.otf");
    src: url("../fonts/HankenSans-Light.otf") format("embedded-opentype"),
      url("../fonts/HankenSans-Light.otf") format("truetype");
  }
  @font-face {
    font-family: "HankenSans Medium";
    src: url("../fonts/HankenSans-Medium.otf");
    src: url("../fonts/HankenSans-Medium.otf") format("embedded-opentype"),
      url("../fonts/HankenSans-Medium.otf") format("truetype");
  }